<head>
<title>Home</title>
</head>

<body>
<p><%= text %></p>

<% if (!signedIn) {%>
<a href='/register'>Register</a>
<a href='/login'>Login</a>
<% } else {%>
<a href='/logout'>Logout</a>
<a href='/profile'>Profile</a>
<%}%>

</body>