<head>
<title>Login</title>
</head>

<body>
<form method="POST" action='/login'>
	<input placeholder='Username' name='username' />
	<input placeholder='Password' name='password' type='password' />
	<input name='submit' type='submit'/>
</form>