<head>
<title>Register</title>
</head>

<body>
	<form method="POST" action='/register'>
		<input placeholder='Username' name='username' />
		<input placeholder='Password' name='password' type='password' />
		<input name='submit' type='submit'/>
	</form>
</body>