<head>
<title>Login</title>
</head>

<body>
	<form method="POST" action='/register'>
		<input name='username' />
		<input name='password' type='password' />
		<input name='submit' type='submit'/>
	</form>
</body>